
# Ignore PyLint or other linting config/logs
.pylint
.pylint/
.pylintrc

# (Optional) Ignore other common Python-related files
__pycache__/
*.py[cod]
*.log
*.sqlite3
.env
.DS_Store

# Editor settings
.vscode/

# Linters and tooling
.pylintrc
.sylelint                  # in case you literally have this filename
.stylelintrc
.stylelintrc.json
.stylelintrc.yaml
.stylelintrc.yml
.stylelintcache
.htmlhintrc
.render.yaml
.stylelintignore


# Ignore all HTML files (be sure you really want this)
*.html

